body {
    overflow: hidden;
    margin: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.avatarSection {
    padding: 2rem;
}

.avatar--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajout d'animation pour l'avatar */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.avatarPhoto {
    border: 2px solid var(--ifm-color-primary);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 150px;
    height: 150px;
    animation: bounce 1s; /* Animation de montée */
}

.avatarPhoto:hover {
    transform: scale(1.1) ; /* Rotation sur le survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.avatar__intro {
    text-align: center;
    margin-top: 1rem;
}

.avatarName {
    font-size: 2rem;
    margin-top: 20px;
    color: var(--ifm-color-primary);
    font-weight: bold;
}

.avatarSubtitle {
    font-size: 1rem;
    color: var(--ifm-color-primary);
    margin-top: 0.5rem;
}

.welcomeSection h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--ifm-color-primary);
    animation: fadeIn 1s ease-in-out;
}

.buttons .button {
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons .button:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .welcomeSection h1 {
        font-size: 2rem;
    }

    .avatarName {
        font-size: 1.5rem;
    }

    .avatarSubtitle {
        font-size: 0.9rem;
    }

    .avatarPhoto {
        width: 150px;
        height: 150px;
    }

    .avatarSection {
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .welcomeSection h1 {
        font-size: 1.5rem;
    }

    .avatarName {
        font-size: 1.2rem;
    }

    .avatarSubtitle {
        font-size: 0.8rem;
    }

    .avatarPhoto {
        width: 120px;
        height: 120px;
    }

    .avatarSection {
        padding: 1rem;
    }
}

.rectangle {
    border: 2px solid #16213E;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px var(--ifm-color-primary),
                0 0 10px var(--ifm-color-primary),
                0 0 15px var(--ifm-color-primary),
                0 0 20px var(--ifm-color-primary);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.rectangle:hover {
    box-shadow: 0 0 10px var(--ifm-color-primary),
                0 0 20px var(--ifm-color-primary),
                0 0 30px var(--ifm-color-primary),
                0 0 40px var(--ifm-color-primary);
}

.mainContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./img/Pourpre.jpeg');
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}
